@font-face {
    font-family: mp-trebuchet;
    src: url(trebuc.ttf);
}
@font-face {
    font-family: mp-newcycle;
    src: url(NewsCycle-Regular.ttf);
}
@font-face {
    font-family: mp-gilc;
    src: url(GILC____.TTF);
}
@font-face {
    font-family: mp-holders;
    src: url(Hodlers.ttf);
}
@font-face {
    font-family: mp-arial;
    src: url(arial_narrow_7.ttf);
}